core
makevars.config
config.h
*.so
*~
*.o
*.a
*.pyc
*.pyo
*.5
*.1
*.deb
*.build
*.diff.gz
*.dsc
*.changes
lcc_features.h
*.debhelper.log
*.substvars
*.swp
*.log
bin/
obj/
debian/files
debian/istatd/
debian/istatd-agent/
debian/istatd-server/
debian/tmp/
python
tags
files/files
