Source: istatd
Section: universe 
Priority: extra
Maintainer: Jon Schedler <jschedler@imvu.com>
Build-Depends: debhelper (>= 7), libstatgrab-dev, cdbs, libboost-all-dev, build-essential, libmysqlcppconn-dev, curl
Standards-Version: 3.8.3
Homepage: https://github.com/imvu/istatd

Package: istatd-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: istatd
Replaces: istatd (<=0.64-1)
Description: IMVU Statistics gathering/forwarding/aggregating/storage Server
 The istatd-server package is installed on the host that servers as the
 datastore for data gathered by istatd agents and forwarded to the istatd 
 server.
 .
 The istatd-server also includes an http html ui and json interface to view
 collected system data.
 .
 It is recommended that the istatd-agent package also be instead on the 
 istatd server host so that system data about the istatd server host can
 be stored in istatd datastore.

Package: istatd-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: istatd
Replaces: istatd (<=0.64-1)
Description: IMVU Statistics gathering/forwarding/aggregating/storage Agent
 The istatd-agent package is installed on any "managed" host where an
 administrator desired to gather, aggregate and forward data to the istatd
 server.
