#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#export DH_OPTIONS=-v

override_dh_auto_build:
	dh_auto_build -v -- all

#override_dh_auto_clean:
#	@echo "not executing $(MAKE) clean"

override_dh_auto_configure:
	./configure

override_dh_strip:
	dh_strip -pistatd-server --dbg-package=istatd-server-dbg

	dh_strip -pistatd-agent --dbg-package=istatd-agent-dbg
%:
	dh  $@
